@model Department
@{
    ViewData["Title"] = "Create";
}

<h1>Create new Department</h1>
<br />
<form asp-action="Create">
    <partial name="Partial/EditCreate" />
    <input type="submit" value="Submit" class="btn btn-primary" />
    <a asp-action="Index" class="btn btn-light">Back To list</a>
</form>

@section ValidateClientSide {
    <partial name="_ValidationScriptsPartial" />
}