@model LoginViewModel
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/AuthLayout.cshtml";
}

<h1>Login</h1>

<div class="main-agileinfo">
<div class="agileits-top">
	<form asp-action="Login" method="post">

		<input class="text email" asp-for="Email" placeholder="Email" required="">

		<input class="text" asp-for="Password" placeholder="Password" required="">
		
		<div class="wthree-text">
			<label class="anim">
				<input asp-for="RememberMe" >
				<span>Remember Me</span>
			</label>
			<div class="clear"> </div>
		</div>
		<input type="submit" value="SIGNIN">
	</form>
	<p>Do u have an Account? <a asp-action="Register"> Register Now!</a></p>
		<a asp-action="ForgetPassword"> Forget Password!</a>
</div>
		</div>

@section ValidateClientSide {
	<partial name="_ValidationScriptsPartial" />
}
